.vscode
.cahce
.pytest_cache
nodeids
stepwise
Equacion segundo grado/__pycache__/equacion_segundo_grado_test.cpython-37-pytest-5.2.1.pyc
Equacion segundo grado/__pycache__/equacion_segundo_grado.cpython-37.pyc
Equacion segundo grado/__pycache__/equacion_segundo_grado_test.cpython-37-pytest-5.2.1.pyc
Equacion segundo grado/__pycache__/equacion_segundo_grado.cpython-37.pyc
